@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html > * {
    box-sizing: border-box;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
}

.pagetitle {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    display: block;
    text-align: center;
}

.segment {
    display: block;
}



.title-large {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(255,255,255,0.15);
    border-top: solid .1rem rgba(255,255,255,0.25);
    border-bottom: solid .1rem rgba(255,255,255,0.25);
    margin-top: 1rem;
    margin-bottom: .75rem;
}

.pagetitle{
    display: flex;
    color: rgb(0 251 251);
    font-family: 'Lato', sans-serif;
    justify-content: center;
  
  }