@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html > * {
    box-sizing: border-box;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
}

.pagetitle {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    display: block;
    text-align: center;
}

.segment {
    display: block;
}

#profile-card {
    display: flex;
    box-sizing: border-box;
    margin: .5rem;
    padding: .5rem;
    border-radius: .7rem;
    background-color: rgba(255,255,255,0.3);
}

#profile-card-pfp {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: gray;
    border: none !important;
    outline: none !important;
}

#name-join {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#pfp-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pfp-name #name-join b {
    font-family: 'Lato', sans-serif;
}

#pfp-name #name-join small {
    font-family: 'Lato', sans-serif;
}

.title-large {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(255,255,255,0.15);
    border-top: solid .1rem rgba(255,255,255,0.25);
    border-bottom: solid .1rem rgba(255,255,255,0.25);
    margin-top: 1rem;
    margin-bottom: .75rem;
}

.pagetitle{
    display: flex;
    color: rgb(0 251 251);
    font-family: 'Lato', sans-serif;
    justify-content: center;
  
  }