@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html > * {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
}

.pagetitle {
    font-size: 1.5rem;
    display: block;
    text-align: center;
    color: lightblue;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

.segment {
    display: block;
}



.title-large {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(255,255,255,0.15);
    border-top: solid .1rem rgba(255,255,255,0.25);
    border-bottom: solid .1rem rgba(255,255,255,0.25);
    margin-top: 1rem;
    margin-bottom: .75rem;
}

.score {
    display: block;
    background-color: rgba(255, 255, 255, 0.178);
    padding: .2rem;
    text-align: center;
    margin-bottom: .25rem;
}

.score::before {
    content: "Jouw score: ";
    color: whitesmoke;
    font-family: lato;
}

#score-value {
    content: "123";
    padding: 0 .2rem;
    border-radius: .25rem;
    font-size: 1rem;
    font-family: lato;
    border: solid .1rem rgb(255, 217, 0);
    color: white;
}