#slimmer_text{
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  margin-top: 100px;
  color: rgb(0 251 251);
}

#login_text{
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  margin-top: 120px;
  color: rgb(0 251 251);
}

#buttons_home{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}



.button_homepagina {
  cursor: pointer;
  color: black;
  border-radius: 0.85rem;
  border-width: 0;
  border-style: solid;
  font-family: 'Lato';
  font-weight: 100;
  padding: 0.65rem 1rem 0.65rem;
  margin: 0 0.5rem 0;
  background: none;
  filter: drop-shadow(0 0 .5rem rgba(0,0,0,0.15));
}

#leerling_inlog {
  background-color: rgb(248, 248, 248);
}

#leerkracht_inlog {
  background-color: rgb(15, 15, 15);
  color: whitesmoke;
}

