#slimmer_text{
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  margin-top: 100px;
}

#login_text{
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  margin-top: 120px;
}

#buttons_home{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/*
#leerling_inlog{
  margin-right: 35px;
  height: 35px;
  color: black;
  background-color: rgb(251 115 115);
  border-radius: 25px;
  border-width: 1px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding-left: 16.7px;
  padding-right: 16.7px;
  background-image: linear-gradient(45deg, #bf6ec7, transparent);
}

#leerling_inlog:hover{
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .6);
}

#leerling_inlog:active{
  opacity: .5;

}

#leerkracht_inlog{
  height: 35px;
  color: black;
  background-color: rgb(251 115 115);
  border-radius: 25px;
  border-width: 1px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding-left: 8.5px;
  padding-right: 8.5px;
  background-image: linear-gradient(45deg, #bf6ec7, transparent);
}

#leerkracht_inlog:hover{
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .6);
}

#leerkracht_inlog:active{
  opacity: .5;
}

*/

.button_homepagina {
  cursor: pointer;
  color: black;
  border-radius: 0.85rem;
  border-width: 0;
  border-style: solid;
  font-family: 'Lato';
  font-weight: 100;
  padding: 0.65rem 1rem 0.65rem;
  margin: 0 0.5rem 0;
  background: none;
  filter: drop-shadow(0 0 .5rem rgba(0,0,0,0.15));
}

#leerling_inlog {
  background-color: rgb(248, 248, 248);
}

#leerkracht_inlog {
  background-color: rgb(15, 15, 15);
  color: whitesmoke;
}

