#buttons_recepten1{
  display: flex;
  justify-content: center;;
  margin-top: 100px;
}
#buttons_recepten2{
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
#buttons_recepten3{
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
 
#recepten_head{
  color: rgb(0 251 251);
}

.recepten_buttons{
  height: 35px;
  color: black;
  background-color: rgb(0 251 251);
  border-radius: 25px;
  border-width: 1px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding-left: 8.5px;
  padding-right: 8.5px;
  width: 83px;
}

.recepten_buttons:hover{
  color: rgb(0 251 251);
  background-color: black;
  cursor: pointer;
}

#ontbijt_button{
  margin-right: 35px;
}

#avond_eten_button{
  margin-right: 35px;
}

#desserts_button{
  margin-right: 35px;
}
