html > * {
  box-sizing: border-box;
}

.tile-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.tile-list button {
  z-index: 99;
  display: flex;
  position: relative;
  width: 45%;
  height: 10rem;
  margin: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  overflow: hidden;
  border: solid .1rem rgba(0,0,0,0.55);
  border-radius: .12rem;
  cursor: pointer;
}

.tile-list button span {
  z-index: 101;
  color: whitesmoke;
  font-family: lato;
  font-weight: 500;
  filter: drop-shadow(2px 4px 6px black);
  font-size: 1.3rem;
  transition: font-size 100ms;
}

.tile-list button:hover span {
  font-size: 1.4rem;
}

.recipe-image {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0.6) brightness(1) blur(.15rem);
  transition: transform 200ms, filter 200ms;
}

.tile-list button:hover .recipe-image {
  transform: scale(1.1);
  filter: saturate(1) brightness(1) blur(.07rem);
}