.table {
  font-family: lato;
  color: rgb(245,245,245);
  background-color: rgba(255,255,255,0.1);
  text-align: center;
  font-size: 1.1rem;
  margin: auto;
  width: 100%;
}

.trs {
  background-color: aqua;
}

.trs:nth-child(n) {
  background-color: rgba(255,255,255,0.1);
}

.signup {
  background-color: transparent;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  padding: 0.1rem;
  color: whitesmoke;
}
