.page-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
}

#friend_search {
	display: flex;
	flex-direction: column;
	width: 20rem;
	height: 100%;
	background-color: aqua;
}

.friend_category_title {
	display: block;
	text-align: center;
	font-family: lato;
	font-size: 1.2rem;
	font-weight: 200;
}

/* friend entry template */

.friend-entry {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 1rem;
	background-color: beige;
}
/* ----------- */

.friend-entry-pfp-name-username {

}

.friend-entry-pfp {

}

.friend-entry-name-username {

}

.friend-entry-name {

}

.friend-entry-username {

}

/* ------ */

.friend-entry-score-joindate {

}

.friend-entry-score-badge {

}

.friend-entry-joindate {

}